// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Fontawesome
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

//@import "~@fortawesome/fontawesome-free/css/all.css";

// 各分頁
@import "root";

/* universal */

body {
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-size: 14px;
  background-color: #fff;
}

html {
    position: relative;
    min-height: 100%;

  .header-section{

    .inner-header{
      .search-bar{
        padding: 15px 0 10px;
        width: 45%;
      }
      .btn-outline-warning {
        color:$fun-orange;
        border-color:$fun-orange;
      }

      .nav-right {
        padding: 1rem 0;
        
      }
      
      .nav-right li {
        list-style: none;
        display: inline-block;
        font-size: 1.2rem;
        margin-left: 0.1rem;
      }



    }
    
      
    @media only screen and (max-width: 767px) {

      position: sticky;
      top: 0;
      z-index: 1020;
      background-color: #fff;
      -webkit-box-shadow: -2px 7px 8px -2px rgba(0,0,0,0.27); 
      box-shadow: -2px 7px 8px -2px rgba(0,0,0,0.27);
      
      .row.justify-content-center{
        height: 65px;
      }

      .col-1.col-md-2{
        height: 65px;
      }
      .col-11.col-md-9{
        height: 65px;
      }


    }



    .nav-item {
      background: #fff;
      display: flex;
      .nav-menu {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        position: relative;
        li {
          list-style: none;
          display: inline-block;
          position: relative;
          &.active a {
            background: $fun-orange;
          }

          &:nth-child(1)> a{
            border-left: 3px solid $fun-orange;
          }

          a {
            font-family: Segoe UI;
            font-size: 1.5em;
            font-weight: 600;
            display: block;
            color: #1f0303;
            border-right: 3px solid $fun-orange;
            text-transform: uppercase;
            padding: 0px 42px;
            -webkit-transition: all 0.3s;
            -o-transition: all 0.3s;
            transition: all 0.3s;
          }
  
          &:hover {
            &>a {
              background: $fun-orange;
            }
            .dropdown {
              opacity: 1;
              visibility: visible;
              top: 52px;
            }
          }
          .dropdown {
            position: absolute;
            right: 0;
            top: 82px;
            width: 200px;
            z-index: 99;
            background: orange;
            opacity: 0;
            visibility: hidden;
            -webkit-transition: all .3s;
            -o-transition: all .3s;
            transition: all .3s;

            padding: 1px;
            text-align: center;
            li {
              display: block;
              margin-left: 0;
              &:hover {
                &>a {
                  background: transparent;
                  color: #777;
                }
              }
              a {
                border-right: 0;
                padding: 13px 20px 12px 20px;
                text-transform: capitalize;
                font-size: 1.2rem;
              }
            }
          }
        }
      }


    }

    .slicknav_menu {
      display: none;
    }

    @media only screen and (min-width: 1200px) and (max-width: 1920px) {
      .nav-item .nav-menu li a {
        padding: 3px 45px;
      }
    }
    
    @media only screen and (min-width: 1200px) {
      .container {
        max-width: 1170px;
      }
    }
    
    /* Medium Device: 1200px */
    
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .nav-item .nav-menu li a {
        padding: 3px 45px;
      }

    }
    
    @media only screen and (max-width: 991px) {

    }
    
    /* Tablet Device: 768px */
    
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .nav-item .nav-depart .depart-btn {
        padding: 14px 40px 14px 18px;
      }
      .nav-item .nav-menu li a {
        padding: 2px 4px;
      }
      .logo {

        a>img{
          max-width: 160px;
          margin-left: -2rem;
          margin-top: 0.5rem;
        }


      }
    }
    
    /* Large Device: 480px */
    
    @media only screen and (max-width: 767px) {
      .nav-item {
        background: transparent;
        display: block;
        .nav-menu {
            display: none;
        }
      }
      
      .slicknav_menu {
        display: block;
        background: transparent;
        text-align: center;
        position: absolute;
        top: 8px;
        //left: -14px;
        width: 100%;
        padding: 0;
      }
      .slicknav_nav {
        position: relative;
        background: #333;
        z-index: 999;
        ul {
          margin: 0;
          text-align: left;
          li{
            border-bottom: 1px solid #fff;
          }
        }
        a,
        .slicknav_row {
          margin: 0;
        }
        .dropdown {
          a {
            //padding-left: 25px;
          }
        }
      }
      .nav-item .nav-depart {
        display: none;
      }
      .slicknav_btn {
            border-radius: 0;
            background-color: $fun-orange;
            display: inline-block;
            right: -5px;
            margin: 9px 5px 16px;
      }



        .slicknav_nav {
            .dropdown a {
                padding-left: 2rem;
            }
            
            .slicknav_row {
                background-color: #fff;
                border-top: 3px solid #F47209;
                .slicknav_arrow{
                    color:#444;
                }
                .nav-link{
                    padding: 8px 15px;
                    color: #444;
                    font-weight: bold;
                    
                }

            }
            .no-ul {
                background-color: #fff;
                border-top: 3px solid #F47209;
                color: #444;
                padding: 5px 15px 5px 25px;
                font-weight: bold;
            }

        }

      .slicknav_nav a:hover {
        border-radius: 0;
        background: #ecc986;
        color: #fff;
      }
      .slicknav_nav .slicknav_row:hover {
        border-radius: 0;
        background: #ecc986;
        color: #fff;
      }

      .nav-right{
        li{
          &.fb-icon{
            display: none;
          }
          &.line-icon{
            display: none;
          }
          &.youtube-icon{
            display: none;
          }
          &.register{
            display: none;
          }
          &.login{
            margin-right:0rem;
          }
        }
      }
      
      .logo {

        a>img{
          max-width: 160px;
          padding: 0.5rem 0;
          margin-left: 28px;
        }

      }





    }
    
    /* Small Device: 320px */
    
    @media only screen and (max-width: 479px) {
        .search-bar{
            display: none;
        }


    }





    
  }

}



footer {
    background: #34322E 0% 0% no-repeat padding-box;
    color: #FFFFFF;
    opacity: 1;
    .container{
        max-width: 100%;
        padding-top: 10px;

        .footer-left ul , .footer-right ul {

            li{
                list-style: none;
                color: #b2b2b2;
                font-size: 16px;
                line-height: 30px;
                ul {
                    li{
                        font-size: 0.9rem;
                    }
                }
            }

        }
        

        
        .footer-yellow{
            color:#FFCC00;
    
        }
    
        .copyright-reserved {
            padding: 2rem 0;
            text-align: center;
            .copyright-text {
                font-size: 0.9rem;
                color: #b2b2b2;
                text-align: center;
            }
            
            .copyright-text a {
                color: #b2b2b2;
            }
            
            .copyright-text a:hover {
                color: #ecc986;
            }
            
    
        }

        @media only screen and (max-width: 767px) {
            padding: 0;
            .footer-left ul ,.footer-right ul{
                padding:10px;

                li{
                    font-size: 0.5rem;
                    line-height: 1.1rem;
                }
            }
            
            .copyright-reserved {
                padding: 0.5rem 0;
                .copyright-text {
                    font-size: 0.6rem;
                }


            }
        
        }

    }


    



  }

