.root-page{

    .row{
      margin-left: 0;
      margin-right: 0;
    }
    ul li{
      list-style-type: none;
    }
    .btn-secondary{
      background-color: #34322E;

    }
    .main-slide{
      .carousel-control-prev-icon,
      .carousel-control-next-icon {
        height: 100px;
        width: 100px;
        background-size: 50%, 50%;
      }
    }

    .section-heading {
      position: relative;
      z-index: 1;
      margin-bottom: 20px;
      text-align: center;
      h4 {
        font-weight: 700;
        margin-bottom: 10px;
        font-size: 1.6rem;
        font-family: Segoe UI;
      }
      .line {
        width: 250px;
        height: 3px;
        background-color: #4e5152;
        margin: 0 auto;
        position: relative;
        z-index: 1;

        &::after {
          content: '';
          width: 200px;
          height: 3px;
          background-color: #ec531d;
          position: absolute;
          bottom: 0;
          left: 10%;
          margin-left: -30px;
        }

      }

    }





    .notice-bar{
      margin: 5px 0;
    }

    
    .vertical-tabs{
      box-sizing:border-box;
      .nav-pills .nav-link.active, .nav-pills > .nav-link {
        color: #000;
        background-color: #f5f6f9;
      }
      .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
        color: #fff;
        background-color: #444;
        border-radius: 0.1rem;
      }
      .col-lg-1{
        padding-left:0;
        padding-right:0;
        .nav{
          border:1px solid #ccc;
          .nav-pills .nav-link {
              border-radius: 0.1rem;
          }

        }
      }
      div#v-pills-tab.nav.flex-column.nav-pills{
        margin-right:0;
      }
      .col-lg-9, .col-md-6, .col-12{
        padding-left:0;
      }

      .nav-link {
        padding: 0.5rem 1rem;
        text-align: center;
      }

      .ichart {
        float: left;
        display: inline;
        padding: 8px 6px;
        border: 1px solid #bbb;

      }

    }

    .good-articles{
      //width: 80%;
      margin:40px 0;

      .about__article__bg {
        height: 350px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
      }

      .about__article__text {
        height: 350px;
        background: #ffffff;
      }

      ul li{
        border-left: none;
        border-top: none;
        border-right: none;
        a{
          color:#444;
          img{
            margin-right: 8px;
          }

        }

        .btn{
          color:#fff;
        }


      }

      .list-group-item {
        padding: 0.72rem 0.25rem;

      }

      .btn{
        border-radius:0;
      }

      .overlay {
        font-family: Arial,Bold;
        position: absolute; 
        bottom: 0; 
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.5);
        color: #f1f1f1;
        width: 100%;
        transition: .5s ease;
        opacity:0.8;
        color: white;
        font-size: 20px;
        padding: 8px;
        text-align: center;
      }

      .overtag {
        font-family: Open Sans;
        line-height: 1.3rem;
        font-weight: 600;
        position: absolute;
        top: -15PX;
        left: 0;
        background: #F47209;
        color: #f1f1f1;
        width: 20%;
        height: 20%;
        transition: .5s ease;
        opacity:1;
        color: white;
        font-size: 20px;
        padding: 5px;
        text-align: center;
        .append{
          font-family: none;
          font-size: 14px;
          font-weight: 100;
        }
      }






      @media (max-width: 767.98px) {
        .first-article{
          margin-bottom:20px;

        }
      }

      @media (min-width: 767.98px) {
        .first-article .about__article__text{
          padding-left: 1.5rem;
        }
      }



    }


    .fisherman{
      .jumbotron {
        background-color: #F6F5F5;
      }
  
      .list-group-item{
        background-color: #F6F5F5;
        
      }
  
      ul li{
        border-left: none;
        border-top: none;
        border-right: none;
        a{
          color:#333;
          font-size: 22px;
        }
        .btn{
          color:#fff;
        }
  
        &:nth-child(5){
          border-bottom: none;
        }
  
      }
  
  
      .number-sign{
        text-align: left;
        color: #F47209;
        font-size: 2rem;
        font-style: italic;
        font-weight: bold;
        font-family: system-ui;
        margin-right:20px;
      }
  
  
  
  
  
  
    }


    .section-new-video {
      .container{
        max-width: 80%;
      }

      .bg-img {
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
      }

      .hero-area {
          position: relative;
          z-index: 1;
          width: 100%;
      }
    
      .vizew-nav-tab {
          position: relative;
          z-index: 1;
          background-color: #fff;
          width: 100%;
          height: 400px;
          overflow-x: hidden;
          overflow-y: hidden;
      
          @media #{$breakpoint-lg} {
              height: 400px;
          }
      
          @media #{$breakpoint-md} {
              height: 400px;
          }
          
          @media #{$breakpoint-xs} {
              height: 400px;
          }
      
          .nav-link {
              padding: 0;
              padding-left: 20px;
              //border-left: 3px solid transparent;
              color:#444;
              margin-bottom:0.8rem;
          }
      }

      .single-feature-post.video-post {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 400px;

        @media #{$breakpoint-lg} {
            height: 400px;
        }
    
        @media #{$breakpoint-md} {
            height: 400px;
        }
    
        @media #{$breakpoint-xs} {
            height: 213px;
            background-size: contain;
            background-repeat: no-repeat;
        }
    
        &::before {
            content: "";
            position: absolute;
            height: 50%;
            width: 100%;
            z-index: 5;
            bottom: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.5);
            background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.01) 90%, rgba(0, 0, 0, 0) 100%);
            background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.01) 90%, rgba(0, 0, 0, 0) 100%);
        }
    
        .play-btn {
            position: absolute;
            margin-top: -30px;
            margin-left: -30px;
            top: 50%;
            left: 50%;
            width: 60px;
            height: 60px;
            font-size: 24px;
            background-color: $primary;
            border-radius: 50%;
            color: $white;
            line-height: 60px;
            text-align: center;
            padding: 0 0 0 3px;
            z-index: 99;
    
            @media #{$breakpoint-xs} {
                width: 50px;
                height: 50px;
                line-height: 50px;
                font-size: 20px;
            }
    
            &:hover,
            &:focus {
                background-color: $dark;
            }
        }
    

        .video-duration {
            display: inline-block;
            position: absolute;
            right: 30px;
            bottom: 30px;
            background-color: $dark;
            padding: 6px 12px;
            border-radius: 2px;
            font-size: 14px;
            color: $white;
            line-height: 1;
            z-index: 79;
        }
      }

        .post-content {
          padding: 0px 15px;
          .post-title {
              font-size: 16px;
              display: block;
              margin-bottom: 10px;

              a{
                color:#444;
              }

              &:hover,
              &:focus {
                  color: $dark;
              }
          }

          .post-meta {
              position: relative;
              z-index: 1;
              font-size: 14px;
              a {
                  display: inline-block;
                  margin-right: 30px;
                  color: #444;

                  &:hover,
                  &:focus {
                      color: $hover;
                  }
              }
          }
      }


    }

    .section-hot-video {
      /*
          code by Iatek LLC 2018 - CC 2.0 License - Attribution required
          code customized by Azmind.com
      */
      @media (min-width: 768px) and (max-width: 991px) {
        
        /* Show 4th slide on md if col-md-4*/
        .carousel-inner .active.col-md-4.carousel-item + .carousel-item + .carousel-item + .carousel-item {
            position: absolute;
            top: 0;
            right: -33.3333%;  /*change this with javascript in the future*/
            z-index: -1;
            display: block;
            visibility: visible;
        }
      }
      @media (min-width: 576px) and (max-width: 768px) {
        /* Show 3rd slide on sm if col-sm-6*/
        .carousel-inner .active.col-sm-6.carousel-item + .carousel-item + .carousel-item {
            position: absolute;
            top: 0;
            right: -50%;  /*change this with javascript in the future*/
            z-index: -1;
            display: block;
            visibility: visible;
        }
      }
      @media (min-width: 576px) {
        .carousel-item {
            margin-right: 0;
        }
        /* show 2 items */
        .carousel-inner .active + .carousel-item {
            display: block;
        }
        .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
        .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item {
            transition: none;
        }
        .carousel-inner .carousel-item-next {
            position: relative;
            transform: translate3d(0, 0, 0);
        }
        /* left or forward direction */
        .active.carousel-item-left + .carousel-item-next.carousel-item-left,
        .carousel-item-next.carousel-item-left + .carousel-item,
        .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item {
            position: relative;
            transform: translate3d(-100%, 0, 0);
            visibility: visible;
        }
        /* farthest right hidden item must be also positioned for animations */
        .carousel-inner .carousel-item-prev.carousel-item-right {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            display: block;
            visibility: visible;
        }
        /* right or prev direction */
        .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
        .carousel-item-prev.carousel-item-right + .carousel-item,
        .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item {
            position: relative;
            transform: translate3d(100%, 0, 0);
            visibility: visible;
            display: block;
            visibility: visible;
        }
      }
      /* MD */
      @media (min-width: 768px) {
        /* show 3rd of 3 item slide */
        .carousel-inner .active + .carousel-item + .carousel-item {
            display: block;
        }
        .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
            transition: none;
        }
        .carousel-inner .carousel-item-next {
            position: relative;
            transform: translate3d(0, 0, 0);
        }
        /* left or forward direction */
        .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
            position: relative;
            transform: translate3d(-100%, 0, 0);
            visibility: visible;
        }
        /* right or prev direction */
        .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
            position: relative;
            transform: translate3d(100%, 0, 0);
            visibility: visible;
            display: block;
            visibility: visible;
        }
      }
      /* LG */
      @media (min-width: 991px) {
        /* show 4th item */
        .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
            display: block;
        }
        .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
            transition: none;
        }
        /* Show 5th slide on lg if col-lg-3 */
        .carousel-inner .active.col-lg-3.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
            position: absolute;
            top: 0;
            right: -25%;  /*change this with javascript in the future*/
            z-index: -1;
            display: block;
            visibility: visible;
        }
        /* left or forward direction */
        .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
            position: relative;
            transform: translate3d(-100%, 0, 0);
            visibility: visible;
        }
        /* right or prev direction //t - previous slide direction last item animation fix */
        .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
            position: relative;
            transform: translate3d(100%, 0, 0);
            visibility: visible;
            display: block;
            visibility: visible;
        }
      }

      @media (max-width: 576px) {
        margin-bottom: 60px;
      }

    }


    .section-news{
      .card-group .card{
        height:50%;
        overflow: hidden;
        .overtag {
          font-family: Open Sans;
          line-height: 1.3rem;
          font-weight: 600;
          position: absolute;
          top: 0PX;
          left: 0;
          background: #F47209;
          color: #f1f1f1;
          width: 20%;
          height: 21%;
          transition: .5s ease;
          opacity:1;
          color: white;
          font-size: 1.9rem;
          padding:10px 5px;
          text-align: center;
          .append{
            font-family: none;
            font-size: 0.8rem;
            font-weight: 100;
          }
        }
        .card-body{
          h5.card-title{
            color:#F47209;
          }
          h4.card-title{
            font-size: 1.1rem;
            line-height: 1.5rem;
          }

        }


      }

      .card{
        height:100%;
        overflow: hidden;
        border:none;
        border-radius: 0;

        .overtag {
          font-family: Open Sans;
          line-height: 1.3rem;
          font-weight: 600;
          position: absolute;
          top: 0PX;
          left: 0;
          background: #F47209;
          color: #f1f1f1;
          width: 15%;
          height: 12%;
          transition: .5s ease;
          opacity:1;
          color: white;
          font-size: 2rem;
          padding:10px 5px;
          text-align: center;
          .append{
            font-family: none;
            font-size: 0.8rem;
            font-weight: 100;
          }
        }

        .card-body{
          h5.card-title{
            color:#F47209;
          }
          .card-text{
            font-size: 1.1rem;
            color:#999;
          }

        }

      }




    }


    .treasure-map{
        .table-title{
            background-color: #F47209;
            border-radius: 0;
            font-family: arial;
            color: #fff;
            font-weight: bold;
            font-size: 1.15rem;
            padding: 5px 0;
        }

      .table {
        th{
            text-align: right;
            border-bottom: 2px solid #ddd;
            &:first-child{
                text-align: left;
            }
            &:nth-child(2){
                text-align: center;
            }
        }

        td{
            color:#333333;
            text-align: right;
            font-family: Arial;
            border-bottom: 2px solid #ddd;
            line-height: 1.6rem;
            &:nth-child(1){
                font-weight: 600;
            }
            &:nth-child(2){
                text-align: center;
                span{
                    color:#bbb;
                }
            }
            &:nth-child(3){
                color:#BC0614;
            }

        }
      }

      
    }



    .major-investor{
        .table-title{
            background-color: #868686;
            border-radius: 0;
            font-family: arial;
            color: #fff;
            font-weight: bold;
            font-size: 1.15rem;
            padding: 5px 0;
        }

      .table {
        th{
            text-align: right;
            border-bottom: 2px solid #ddd;
            &:first-child{
                text-align: left;
            }
        }

        td{
            color:#333333;
            text-align: right;
            font-family: Arial;
            border-bottom: 2px solid #ddd;
            line-height: 1.6rem;
            &:nth-child(1){
                font-weight: 600;
            }

        }
      }

      .unit-tag {
        font-family: Arial;
        line-height: 1.3rem;
        font-weight: 600;
        position: absolute;
        top: 25PX;
        right: 10px;
        color: #868686;
        transition: 0.5s ease;
        opacity: 1;
        font-size: 1rem;
        padding: 5px;
        text-align: center;

        @media (max-width: 767.98px) {
            top: 12PX;
            right: -12px;
            font-size: 0.8rem;
        }


      }
      

    }

    .ustock-investor-buy,.ustock-investor-sell{
        .table-title{
            background-color: #868686;
            border-radius: 0;
            font-family: arial;
            color: #fff;
            font-weight: bold;
            font-size: 1.15rem;
            padding: 5px 0;
        }

        .table {
            th{
                text-align: right;
                border-bottom: 2px solid #ddd;
                &:first-child{
                    text-align: left;
                }
                &:nth-child(2){
                    text-align: center;
                }
            }

            td{
                color:#333333;
                text-align: right;
                font-family: Arial;
                border-bottom: 2px solid #ddd;
                line-height: 1.6rem;
                &:nth-child(1){
                    font-weight: 600;
                }
                &:nth-child(2){
                    text-align: center;
                    span{
                        color:#bbb;
                    }
                }

            }
        }

        .unit-tag {
            font-family: Arial;
            line-height: 1.3rem;
            font-weight: 600;
            position: absolute;
            top: 25PX;
            right: 10px;
            color: #868686;
            transition: 0.5s ease;
            opacity: 1;
            font-size: 1rem;
            padding: 5px;
            text-align: center;

            @media (max-width: 767.98px) {
                top: 12PX;
                right: -12px;
                font-size: 0.8rem;
            }


        }




    }




  }